{{#section 'css'}}
	<style>
		.text-danger {
			color: red;
		}
	</style>
{{/section}}
{{#section 'js'}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
		function onEdit(target) {
			target.hidden = true;
			document.getElementById('fullname').disabled = false;
			document.getElementById('email').disabled = false;
			document.getElementById('birthday').disabled = false;
			document.getElementsByName('sendSave')[0].hidden = false;
			document.getElementById('fullname').focus();
		}
		jQuery.noConflict()(function ($) {
			$('#infoForm').validate({
				rules: {

				},
				messages: {
					fullname: {
						required: 'Họ tên không được để trống.'
					},
                    email: {
                        required: 'Địa chỉ E-mail không được để trống.',
						email: 'Địa chỉ E-mail không hợp lệ.'
                    },
					birthday: {
						required: 'Ngày sinh không hợp lệ.'
					}
				},
				errorElement: 'small',
				errorClass: 'help-block text-danger'
			});

			var birthday = new Date('{{user.Birthday}}')
			birthday.setMinutes(birthday.getMinutes() - birthday.getTimezoneOffset());
			document.getElementById('birthday').valueAsDate = birthday;
		});
	</script>
{{/section}}

<!-- Nội dung trang web -->
<div id="content" class="container">

	<div id="main" class="row-fluid">

		<!-- Phần thông tin cơ bản -->
		<div id="main-left">
			<article id="post-206" class="post-206 page type-page status-publish hentry instock">
				<header class="entry-header">
					<h1 class="entry-title"><span style="color: white">Thông tin tài khoản</span></h1>
				</header><!-- .entry-header -->
			</article>

			<!-- Các mục thông tin -->
			<div id="content" class="container" style="margin: -40px; margin-top:-30px;">
				<div id="tabwidget" style="display:flex; height: 600px; justify-content: space-between">
						<span style="margin-left:0px; padding-left:0px; width: 20%; height: 100%; background: #3D4C54">
							<ul id="tabnav"> 
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="#tab1" class="selected">Thông tin cá nhân&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="changepass">Đổi mật khẩu&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="subscriber">Gia hạn tài khoản&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="writer">Bút danh&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="editor">Chuyên mục phụ trách&emsp;&emsp;&emsp;&emsp;</a></h3></li>
							</ul> 
						</span>

						<!-- Nội dung các mục -->
						<div id="tab-content" style="border: 0px">

							<!-- Mục thông tin cơ bản -->
							<div id="tab1">
								<form id="infoForm" method="post" action="general">
									<table>
										<tr>
											<td>
												<label for="fullname">Họ tên</label>
												<input type="text" name="fullname" id="fullname" value="{{user.uName}}" style="height: 25px" required disabled/>
											</td>
										</tr>
										<tr>
											<td>
												<label for="email">Địa chỉ E-mail</label>
												<input type="email" name="email" id="email" value="{{user.Email}}" style="height: 25px" required disabled/>
											</td>
										</tr>
										<tr>
											<td>
												<label for="birthday">Ngày sinh</label>
												<input type="date" name="birthday" id="birthday" style="height: 25px" required disabled/>
											</td>
										</tr>
										<tr>
											<td>
												<div class="cform submit"><br>
													<input type="button" value="Sửa" id="cf_send" onclick="onEdit(this)"/>
													<input type="submit" value="Lưu lại" name="sendSave" id="cf_send" hidden/>
												</div>
											</td>
										</tr>
									</table>
								</form>
							</div><!-- /#tab1 -->

					</div><!-- /#tab-content -->
					
					<div class="clearfix"></div>
				</div><!-- /#tab-widget --> 
			</div><!-- #content -->
		</div><!-- #main-left -->
		<div class="clearfix"></div>

	</div><!-- #main -->

</div><!-- #content -->