<!-- Nội dung trang web -->
<div id="content" class="container">

	<div id="main" class="row-fluid">

		<!-- Phần thông tin cơ bản -->
		<div id="main-left">
			<article id="post-206" class="post-206 page type-page status-publish hentry instock">
				<header class="entry-header">
					<h1 class="entry-title"><span style="color: white">Thông tin tài khoản</span></h1>
				</header><!-- .entry-header -->
			</article>

			<!-- Các mục thông tin -->
			<div id="content" class="container" style="margin: -40px; margin-top:-30px;">
				<div id="tabwidget" style="display:flex; height: 600px; justify-content: space-between">
						<span style="margin-left:0px; padding-left:0px; width: 20%; height: 100%; background: #3D4C54">
							<ul id="tabnav"> 
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="userinfo.html#tab1" class="selected">Thông tin cá nhân&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="userinfo.html#tab2">Đổi mật khẩu&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="userinfo.html#tab3">Gia hạn tài khoản&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="userinfo.html#tab4">Bút danh&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3></li>
									<li style="width: 100%; text-align: left; float:none;" ><h3><a href="userinfo.html#tab5">Chuyên mục phụ trách&emsp;&emsp;&emsp;&emsp;</a></h3></li>
							</ul> 
						</span>

						<!-- Nội dung các mục -->
						<div id="tab-content" style="border: 0px">
							<!-- Mục thông tin cơ bản -->
							<div id="tab1">
								<table>
									<tr>
										<td>
											<label for="fullname">Họ tên</label>
											<input type="text" name="fullname" value="{{user.uName}}" id="fullname" style="height: 25px" required />
										</td>
									</tr>
									<tr>
										<td>
											<label for="email">Địa chỉ E-mail</label>
											<input type="email" name="email" id="email" value="{{user.Email}}" style="height: 25px" required/>
										</td>
									</tr>
									<tr>
										<td>
											<label for="birthday">Ngày sinh</label>
											<input type="date" name="birthday" id="birthday" value="{{user.Birthday}}" style="height: 25px" required/>
										</td>
									</tr>
									<tr>
										<td>
											<div class="cform submit">
												<input type="submit" value="Lưu lại" name="sendRegister" id="cf_send" />
											</div>
										</td>
									</tr>
								</table>
							</div><!-- /#tab1 -->

							<!-- Mục đổi mật khẩu -->
							<div id="tab2">
								<table>
									<tr>
										<td>
											<label>Mật khẩu cũ</label>
											<div class="cform">
												<input type="password" name="cf_password1" id="cf_password1"  style="height: 30px" />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label>Mật khẩu mới</label>
											<div class="cform">
												<input type="password" name="cf_password2" id="cf_password2" style="height: 30px"/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label>Xác nhận mật khẩu mới</label>
											<div class="cform">
												<input type="password" name="cf_password3" id="cf_password3" style="height: 30px"/>
											</div>
										</td>
									</tr>
									<tr>
										<td><br>
											<div class="cform submit">
												<input type="submit" value="Lưu lại" name="sendRegister" id="cf_send" />
											</div>
										</td>
									</tr>
								</table>
							</div><!-- /#tab2 -->

							<!-- Mục gia hạn cho subscriber -->
							<div id="tab3">
								<ul id="itemContainer" class="recent-tab">
									<li>
										<img src="../images/dummy/name.png" class="thumb"/>
										<div class="cform">
											<br><input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="TRỊNH QUANG NGHĨA" placeholder="Họ và tên chủ thẻ" readonly required />
											<p style="margin-left: 10px; color: red"><b>(*)</b> Vui lòng nhập họ và tên của chủ thẻ</p>
										</div><br><br>										
										<div class="clearfix"></div>			
									</li>
									<li>
										<img src="../images/dummy/creadit-card.png" class="thumb"/>
										<div class="cform">
											<br><input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="221455338" placeholder="Số thẻ Tín dụng/Ghi nợ" readonly required/>
											<p style="margin-left: 10px; color: red"><b>(*)</b> Vui lòng điền vào mục này</p>
										</div><br><br>										
										<div class="clearfix"></div>					
									</li>
									<li>
										<img src="../images/dummy/expiration-date.png" class="thumb"/>
										<div class="cform">
											<input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="31" placeholder="Ngày hết hạn" readonly required/>
											<input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="12" placeholder="Tháng hết hạn" readonly required/>
											<input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="2030" placeholder="Năm hết hạn" readonly required/>
											<p style="margin-left: 10px; color: red"><b>(*)</b> Vui lòng điền vào các mục trên</p>
										</div><br><br>										
										<div class="clearfix"></div>				
									</li>
									<li>
										<table width="100%">
											<tr style="font-size: 15px; font-weight: bold">
												<td>Ngày đăng ký: <font color="green">01/04/2019</font></td>
												<td>Ngày hết hạn: <font color="green">08/04/2019</font></td>
											</tr>
											<tr style="font-size: 15px; font-weight: bold">
												<td><br>Tình trạng: <div id="subscriberStatus" style="color: blue">Còn hạn sử dụng</div></td>
												<td><br>
													<div class="cform">
														<input type="submit" value="Gia hạn thêm 7 ngày" name="sendRenewed" id="cf_send" disabled/>
												</div>
												</td> 	
											</tr>
										</table>
										<div class="clearfix"></div>				
									</li>
									
								</ul>
							</div><!-- /#tab3 -->

							<!-- Mục đổi bút danh -->
							<div id="tab4">
								<table>
									<tr align="center">
										<img src="../images/dummy/nickname.png"/><br>
									</tr>
									<tr align="center">
										<td>
											<div class="cform">
												<input type="text" name="cf_owner" id="cf_owner" value="nghiatq" placeholder="Bút danh" style="height: 30px;" required/><br>
											</div>
										</td>
									</tr>
									<tr align="center">
										<td>
											<div class="cform submit">
												<input type="submit" value="Lưu lại" name="sendNickname" id="cf_send" />
											</div>
										</td>
									</tr>
								</table>
							</div><!-- /#tab4 -->

							<!-- Mục xem chuyên mục phụ trách -->
							<div id="tab5">
								<label style="font-size: 20px; color: black; font-weight: bold">Danh sách các chuyên mục đang phụ trách</label><br>
								<table class="table table-striped table-bordered table-hover" width="100%" style="font-size: 18px; ">
										<thead>
												<tr>
														<th>STT</th>
														<th>Tên chuyên mục</th>
												</tr>
										</thead>
										<tbody>
												<tr>
														<td>1</td>
														<td><b>Xã hội</b> - Thời sự</td>
												</tr>
												<tr>
														<td>2</td>
														<td><b>Văn hóa</b> - Ẩm thực</td>
												</tr>
												<tr>
														<td>3</td>
														<td><b>Kinh tế</b></td>
												</tr>
										</tbody>
								</table>
								<p style="margin-left: 10px; color: red"><b>(*)</b> Quản trị viên sẽ phân công mục này</p>
							</div><!-- /#tab5 -->

					</div><!-- /#tab-content -->
					
					<div class="clearfix"></div>
				</div><!-- /#tab-widget --> 
			</div><!-- #content -->
		</div><!-- #main-left -->
		<div class="clearfix"></div>

	</div><!-- #main -->

</div><!-- #content -->