{{#section 'css'}}
	<style>
		.text-danger {
			color: red;
		}
	</style>
{{/section}}
{{#section 'js'}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
		jQuery.noConflict()(function ($) {
			$('#loginForm').validate({
				rules: {

				},
				messages: {
					Username: {
						required: 'Tên đăng nhập không được để trống.'
					},
                    Password: {
                        required: 'Mật khẩu không được để trống.'
                    }
				},
				errorElement: 'small',
				errorClass: 'help-block text-danger'
			});
		});
	</script>
{{/section}}


<!-- Nội dung trang web -->
<div id="content" class="container">

	<div id="main" class="row-fluid">

		<!-- Phần thông tin cơ bản -->
		<div id="main-left">
			<article id="post-206" class="post-206 page type-page status-publish hentry instock">
				<header class="entry-header">
					<h1 class="entry-title"><span style="color: white">Đăng nhập</span></h1>
				</header><!-- .entry-header -->
			</article>

			<!-- Các ô nhập thông tin -->
			<center>
				<form method="post" action="login" id="loginForm">
					<table>
						<tr>
							<td align="left">
                                <p style="color: green; font-size: 14px"><i>{{message}}</i></p>
							</td>
						</tr>
						<tr>
							<td align="left">
                                <label for="Username">Tên đăng nhập</label>
								<input type="text" name="Username" id="Username" required style="height: 25px" />
							</td>
						</tr>
						<tr>
							<td align="left">
                                <label for="Password">Mật khẩu</label>
								<input type="password" name="Password" id="Password" required style="height: 25px" />
							</td>
						</tr>
						<tr>
							<td align="left">
                                <input type="checkbox" name="cf_remember" id="cf_remember" style="float:left; margin: 3px" />
								<label for="cf_remember" style="text-align: left; width: 150px">&nbspGhi nhớ đăng nhập</label><br>
							</td>
						</tr>
						<tr>
							<td align="right">
								<div class="cform">
									<input type="submit" value="Đăng nhập" id="cf_send"/><br><br>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<a href="register" style="color: blue"><b><u>Đăng ký tài khoản</u></b></a>
								<a href="lostpass" style="margin-left: 80px; color: black">Quên mật khẩu?</a>
							</td>
						</tr>
					</table>
				</form>
			</center>
			
		</div><!-- #main-left -->

		<div class="clearfix"></div>

	</div><!-- #main -->

</div><!-- #content -->