{{#section 'js'}}
	<script>
		// Default role
		var whichRole = "#subscriber";

		// Check data before submit
		function checkData() {

			var form = document.getElementById('registerForm');
			var role = document.createElement('input');
			role.setAttribute('name', 'role');
			role.setAttribute('type', 'hidden');
			
			// If user is a writter
			if (whichRole == "#writter") {
				var pseudonym = document.getElementById("pseudonym").value;
				if (pseudonym.length === 0) {
					alert("Vui lòng nhập bút danh.")
					return false;
				}
				role.setAttribute('value', '2');
				var input = document.createElement('input');
				input.setAttribute('name', 'pseudonym');
				input.setAttribute('value', pseudonym);
				input.setAttribute('type', 'hidden');
    			form.appendChild(input);
			}

			// If user is a editor
			if (whichRole == "#editor") {
				var category = document.getElementById("category").value;
				if (category.length === 0) {
					alert("Vui lòng chọn chuyên mục quản lý.")
					return false;
				}
				role.setAttribute('value', '3');
				var input = document.createElement('input');
				input.setAttribute('name', 'category');
				input.setAttribute('value', category);
				input.setAttribute('type', 'hidden');
    			form.appendChild(input);
			}

			// If user is a subscriber
			if (whichRole == "#subscriber") {
				role.setAttribute('value', '4');
			}

			form.appendChild(role);
			return true;
		}
		jQuery.noConflict()(function ($) {
			$(document).ready(function() { 
				$('a[data-toggle="tab"]').on('click', function (e) {
					whichRole = $(e.target).attr("href");
				});
				var today = new Date();
				document.getElementById("beginDate").valueAsDate = today;
				today.setDate(today.getDate() + 7)
				document.getElementById("endDate").valueAsDate = today;
			});
		});
		Date.prototype.addDays = function(days) {
			var date = new Date(this.valueOf());
			date.setDate(date.getDate() + days);
			return date;
		}
	</script>
{{/section}}

<!-- Nội dung trang web -->
<div id="content" class="container">

	<div id="main" class="row-fluid">

		<!-- Phần thông tin cơ bản -->
		<div id="main-left">
			<article id="post-206" class="post-206 page type-page status-publish hentry instock">
				<header class="entry-header">
					<h1 class="entry-title"><span style="color: white">Đăng ký tài khoản</span></h1>
				</header><!-- .entry-header -->

				<!-- Các ô nhập thông tin -->
				<form id="registerForm" method="POST" style="float: left" action="register" onsubmit="return checkData();">
					<div class="form-group">
						<label for="fullname">Họ tên</label>
						<input type="text" name="fullname" id="fullname" required autofocus/>
					</div><br>
					<div class="form-group">
						<label for="username">Tên đăng nhập</label>
						<input type="text" name="username" id="username" required autofocus/>
					</div><br>
					<div class="form-group">
						<label for="email">Địa chỉ E-mail</label>
						<input type="text" name="email" id="email" required/>
					</div><br>
					<div class="form-group">
						<label for="birthday">Ngày sinh</label>
						<input type="date" name="birthday" id="birthday"/>
					</div><br>
					<div class="form-group">
						<label for="password">Mật khẩu</label>
						<input type="password" name="password" id="password" required/>
					</div><br>
					<div class="form-group">
						<label for="repassword">Nhập lại mật khẩu</label>
						<input type="password" name="repassword" id="repassword" required/>
					</div><br><br>
					<div class="form-group">
						<input type="submit" value="Đăng ký" id="cf_send"/>
					</div>
				</form>

				<!-- Phần lựa chọn vai trò (subscriber, writer, editor,..) -->
				<div id="sidebar" style="float: right; width: 75%">

					<!-- Tabs lựa chọn vai trò -->
					<div id="tabwidget" class="widget tab-container"> 
						<ul id="tabnav" class="clearfix">
							<li><h3><a href="#subscriber" data-toggle="tab" class="active"><img src="../images/subscriber.png">Độc giả</a></h3></li>
							<li><h3><a href="#writter" data-toggle="tab"><img src="../images/writter.png" alt="Recent">Phóng viên</a></h3></li>
							<li><h3><a href="#editor" data-toggle="tab"><img src="../images/editor.png" alt="Comments">Biên tập viên</a></h3></li>
						</ul> 
		
					<div id="tab-content">
						
						<!-- Thông tin riêng của độc giả -->
						<div id="subscriber" style="display: block; ">
							<ul id="itemContainer" class="recent-tab">
								<li>
									<img src="../images/dummy/phone.png" class="thumb"/>
									<div class="cform">
										<br><input style="margin: 10px;" type="text" placeholder="Nhập số điện thoại" />
										<p style="margin-left: 10px; color: red"><b>(*)</b> Hệ thống sẽ gửi mã xác nhận</p>
									</div><br><br>										
									<div class="clearfix"></div>			
								</li>
								<li>
									<img src="../images/dummy/creadit-card.png" class="thumb"/>
									<div class="cform">
										<br><input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="" placeholder="Số thẻ Tín dụng/Ghi nợ" />
										<p style="margin-left: 10px; color: red"><b>(*)</b> Vui lòng điền vào mục này</p>
									</div><br><br>										
									<div class="clearfix"></div>					
								</li>
								<li>
									<img src="../images/dummy/expiration-date.png" class="thumb"/>
									<div class="cform">
										<input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="" placeholder="Ngày hết hạn" />
										<input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="" placeholder="Tháng hết hạn" />
										<input style="margin: 10px;" type="text" name="cf_owner" id="cf_owner" size="50" maxlength="50" value="" placeholder="Năm hết hạn" />
										<p style="margin-left: 10px; color: red"><b>(*)</b> Vui lòng điền vào các mục trên</p>
									</div><br><br>		
									<div class="clearfix"></div>
								</li>
								<li>
									<table width="100%">
										<tr style="font-size: 15px; font-weight: bold">
											<td>
												<label for="endDate">Ngày hiệu lực</label>
												<input type="date" id="beginDate" readonly>
												<p style="margin-left: 5px; color: blue; font-size: 12px">Bắt đầu từ thời điểm đăng ký</p>
											</td>
											<td>
												<label for="endDate">Ngày hết hạn</label>
												<input type="date" id="endDate" readonly>
												<p style="margin-left: 5px; color: blue; font-size: 12px">Hiệu lực đến cuối ngày</p>
											</td>
										</tr>
									</table>
									<div class="clearfix"></div>				
								</li>
								
							</ul>
							<div class="holder clearfix"></div>
						</div><!-- /#tab1 -->
			
						<!-- Thông tin riêng của phóng viên -->
						<div id="writter" style="display: none;">	
							<ul id="itemContainer2" class="recent-tab">
								<li>
									<img src="../images/dummy/nickname.png" class="thumb"/>
									<div class="cform">
										<br>
										<form id="writterForm">
											<input id="pseudonym" style="margin: 10px;" type="text" placeholder="Bút danh" required/>
										</form>
										<p style="margin-left: 10px; color: red"><b>(*)</b> Vui lòng nhập bút danh của bạn</p>
									</div><br><br>
									<div class="clearfix"></div>
								</li>
							</ul>
							<div class="holder clearfix"></div>
						</div><!-- /#tab2 --> 
			
						<!-- Thông tin riêng của biên tập viên -->
						<div id="editor" style="display: none; ">
							<ul>
								<li>
									<img src="../images/dummy/editor.jpg" style="margin: 10px; width: 25%; height: 25%"/>
									<img src="../images/dummy/news.png" style="margin: 25px; width: 35%; height: 35%; float:right"/><br>
									<div class="cform">
										<select style="margin: 10px; font-weight: bold" id="category">
										{{#each this.categories}}
											<option value="{{cateID}}">{{cateName}}</option>
										{{/each}}
										</select>
										<p style="margin-left: 10px; color: red;"><b>(*)</b> Vui lòng chọn chuyên mục phụ trách</p>
										<p style="margin-left: 10px; color: red;"><b>(*)</b> Quản trị viên sẽ phân công thêm</p>
									</div><br><br>										
									<div class="clearfix"></div>
								</li>
							</ul>
							<div class="holder clearfix"></div>
						</div><!-- /#tab2 --> 
				
					</div><!-- /#tab-content -->
				</div><!-- sidebar -->
			</article>
		</div><!-- #main-left -->
	<div class="clearfix"></div>

	</div><!-- #main -->

</div><!-- #content -->